{
  "name": "com.{{company}}.{{package-name}}",
  "version": "0.1.0",
  "displayName": "{{Display Name}}",
  "description": "{{Описание пакета в одно предложение.}}",
  "unity": "2021.3",
  "author": {
    "name": "{{Author}}",
    "url": "https://github.com/{{author}}"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/{{author}}/{{repo}}.git"
  },
  "keywords": [],
  "license": "MIT",
  "dependencies": {}
}
